# Assignment - 2

## Task -I

### Question 1

In [3]:
Basic_salary = float(input("Enter your basic salary:"))

Enter your basic salary:45678.00

In [4]:
dearness_allowance = Basic_salary*0.40
house_rent_allowance = Basic_salary*0.20

In [8]:
gross_salary = Basic_salary+dearness_allowance+house_rent_allowance
print(f"Ramesh's gross salary is: {gross_salary}")

Ramesh's gross salary is: 73084.8

### Question 2

In [195]:
distance = float(input("Enter the distance in Km: "))

Enter the distance in Km: 12.90

In [196]:
distance_m = distance*1000
distance_f = distance*3280.84
distance_c = distance*100000

In [197]:
print(f"The distance is: {distance_m} m")
print(f"The distance is: {round(distance_f,2)} ft")
print(f"The distance is: {distance_c} cm")

The distance is: 12900.0 m
The distance is: 42322.84 ft
The distance is: 1290000.0 cm

### Question 3

In [14]:
First_language = float(input("Enter your marks in First Language: "))
Second_language = float(input("Enter your marks in Second Language: "))
physics = float(input("Enter your marks in physics: "))
chemistry = float(input("Enter your marks in Chemistry: "))
statistics = float(input("Enter your marks in Statistics: "))

Enter your marks in First Language: 78
Enter your marks in Second Language: 83
Enter your marks in physics: 79
Enter your marks in Chemistry: 84
Enter your marks in Statistics: 87

In [16]:
aggregate = First_language+Second_language+physics+chemistry+statistics
print (f"Your aggregated marks is: {aggregate}")

Your aggregated marks is: 411.0

In [18]:
percenatge = (aggregate/5)
print (f"Your percentage marks is: {percenatge}%")

Your percentage marks is: 82.2%

### Question 4

In [193]:
temperature = float(input("Today's temperature (in Fahrenheit): "))

Today's temperature (in Fahrenheit): 90

In [194]:
temperature_celcius = (5/9)*(temperature-32)
print(f"Today's temperature in celcius degrees is: {round(temperature_celcius,2)} degree-celcius")

Today's temperature in celcius degrees is: 32.22 degree-celcius

### Question 5

In [26]:
length = float(input("length of the rectangle: "))
breadth = float(input("breadth of the rectangle: "))

length of the rectangle: 45
breadth of the rectangle: 12

In [27]:
area_rect = length*breadth
perimeter_rect = 2*(length+breadth)
print ("Area of the rectangle is:", area_rect)
print("Perimeter of the rectangle is:", perimeter_rect)

Area of the rectangle is: 540.0
Perimeter of the rectangle is: 114.0

In [198]:
radius = float(input("Enter the radius of the circle: "))

Enter the radius of the circle: 12.45

In [199]:
area_circle = 3.147*radius*radius
circumference = 2*3.147*radius
print("Area of the circle is: ", round(area_circle,2))
print ("Circumference of the circle is: ", round(circumference,2))

Area of the circle is:  487.79
Circumference of the circle is:  78.36

### Question 6

In [79]:
C = int(input("Enter number 1: "))
D = int(input("Enter number 2: "))

Enter number 1: 12
Enter number 2: 34

In [80]:
C, D = D, C

In [82]:
print (f"After interchange: C: {C}, D: {D}")

After interchange: C: 34, D: 12

### Question 7

In [64]:
five_digit_number = input("Enter the 5 digit number: ")

Enter the 5 digit number: 12345

In [65]:
if len(five_digit_number) == 5 and five_digit_number.isdigit():
    # Calculate the sum of the digits
    digit_sum = 0
    for digit in five_digit_number:
        digit_sum += int(digit)
    print("The sum of the digits is:", digit_sum)
else:
    print("Please enter a valid five-digit number.")

The sum of the digits is: 15

### Question 8

In [31]:
number_5_digit = int(input("Enter the 5 digit number: "))

Enter the 5 digit number: 34561

In [35]:
reverse = 0

In [37]:
while number_5_digit>0:
    digit = number_5_digit%10
    reverse = reverse*10+digit
    number_5_digit //= 10
print("Reverse is: ", reverse)

Reverse is:  16543

### Question 9

In [91]:
four_digit_number = input("Enter a four digit number: ")

Enter a four digit number: 5678

In [92]:
if len(four_digit_number) == 4 and four_digit_number.isdigit():
    digit_1 = int(four_digit_number[0])
    digit_2 = int(four_digit_number[-1])
    digit_sum = digit_1 + digit_2
    print ("The sum is: ", digit_sum)
else:
    print ("Please enter a valid input")

The sum is:  13

### Question 10

In [66]:
population = 80000

In [70]:
men = population*0.52
women = population-(population*0.52)
total_literacy = 0.48*population
print("Men:", men)
print("Women:", women)
print("Total literate population: ", total_literacy)

Men: 41600.0
Women: 38400.0
Total literate population:  38400.0

In [72]:
literate_men = population*0.35
print("Literate men: ", literate_men)
literate_women = total_literacy -literate_men
print("Literate women: ", literate_women)

Literate men:  28000.0
Literate women:  10400.0

### Question 11

In [98]:
amount = int (input("Enter the amount to be withdrawn: "))

Enter the amount to be withdrawn: 4560

In [99]:
if amount%10 ==0:
    currency_100 = amount//100
    remaining = amount%100
    currency_50 = remaining//50
    remianing2= amount%50
    current_10 = remianing2//10
    
    print ("Number of 100 ruppes note: ", currency_100)
    print ("Number of 50 ruppes note: ", currency_50)
    print ("Number of 100 ruppes note: ", current_10)
else:
    print("Please enter in multiple of 10")

Number of 100 ruppes note:  45
Number of 50 ruppes note:  1
Number of 100 ruppes note:  1

### Question 12

In [73]:
selling_price = float(input("Enter the total selling price of 15 items: "))
profit_earned = float(input("Enter the amount of profit earned: "))

Enter the total selling price of 15 items: 45678
Enter the amount of profit earned: 3456

In [75]:
print("Cost price per item is: ", ((selling_price-profit_earned)/15))

Cost price per item is:  2814.8

### Question 13

In [93]:
number_5 = input("Enter a five-digit number: ")

Enter a five-digit number: 12391

In [94]:
if len(number_5) == 5 and number_5.isdigit():
    new_number = ""
    for digit in number_5:
        new_digit = (int(digit) + 1) % 10
        new_number += str(new_digit)
    print("The new number is:", new_number)
else:
    print("Please enter a valid five-digit number.")

The new number is: 23402

## Task -II

### Question 1

In [126]:
price = float(input("Enter the price per product: "))
quantity = float(input("Enter the quantity: "))

Enter the price per product: 123
Enter the quantity: 10

In [127]:
if quantity>10:
    total_expense_with_discount = ((price*quantity) - (price*quantity*0.10))
    print ("The amount to be paid is: ", total_expense_with_discount)
else:
    total_expense_without_discount = (price*quantity)
    print ("The amount to be paid is: ", total_expense_without_discount)

The amount to be paid is:  1230.0

### Question 2

In [140]:
current_year = int(input("Enter current year: "))
joined_year = int(input("Enter the years you have joined: "))

Enter current year: 2024
Enter the years you have joined: 2012

In [141]:
working_duration = current_year-joined_year

In [142]:
if working_duration>3:
    print(f"You have worked {working_duration} years for the company. Congradulation! You have earned a bonus of Rs. 2500/")

You have worked 12 years for the company. Congradulation! You have earned a bonus of Rs. 2500/

### Question 3

In [147]:
salary = float(input("Enter your salary in Rs: "))

Enter your salary in Rs: 2000

In [148]:
if salary<1500:
    HRA = 0.10*salary
    DA = 0.90*salary
    gross_salary = salary+HRA+DA
    print("Your gross salary is: ", gross_salary)
elif salary>=1500:
    HRA = 500
    DA = 0.98*salary
    gross_salary = salary+HRA+DA
    print("Your gross salary is: ", gross_salary)

Your gross salary is:  4460.0

### Question 4

In [149]:
subject1 = float(input("Enter your marks in subject 1: "))
subject2 = float(input("Enter your marks in subject 2: "))
subject3 = float(input("Enter your marks in subject 3: "))
subject4 = float(input("Enter your marks in subject 4: "))
subject5 = float(input("Enter your marks in subject 5: "))

Enter your marks in subject 1: 45
Enter your marks in subject 2: 78
Enter your marks in subject 3: 67
Enter your marks in subject 4: 90
Enter your marks in subject 5: 87

In [150]:
percentage = (subject1+subject2+subject3+subject4+subject5)/5

In [151]:
if percentage>=60:
    print (f"Your marks is: {percentage}%. You got 'First division'")
elif percentage>=50 and percentage<59:
    print (f"Your marks is: {percentage}%. You got 'Second division'")
elif percentage>=40 and percentage<49:
    print (f"Your marks is: {percentage}%. You got 'Third division'")
elif percentage<40:
    print (f"Your marks is: {percentage}%. You 'Fail'")

Your marks is: 73.4%. You got 'First division'

### Question 5

In [164]:
gender = input("what is your gender: ")
marital_status = input("What is marital status: ")
age = int(input("Enter your age: "))

what is your gender: male
What is marital status: unmarried
Enter your age: 20

In [165]:
gender = gender.lower()
marital_status = marital_status.lower()

In [166]:
if marital_status == "married":
    print ("insured")
elif marital_status == "unmarried" and gender == "male" and age >30:
    print ("insured")
elif marital_status == "unmarried" and gender == "female" and age >25:
    print ("insured")
else:
    print ("Not insured")

Not insured

### Question 6

In [104]:
gender = input("Enter gender (Male/Female): ").strip()
years_of_service = int(input("Enter years of service: "))
qualification = input("Enter qualification (Post - Graduate/Graduate): ").strip()

Enter gender (Male/Female): Male
Enter years of service: 12
Enter qualification (Post - Graduate/Graduate): Graduate

In [105]:
salary = 0

In [106]:
if gender == 'Male':
    if years_of_service >= 10:
        if qualification == 'Post - Graduate':
            salary = 15000
        elif qualification == 'Graduate':
            salary = 10000
    else:
        if qualification == 'Post - Graduate':
            salary = 10000
        elif qualification == 'Graduate':
            salary = 7000
elif gender == 'Female':
    if years_of_service >= 10:
        if qualification == 'Post - Graduate':
            salary = 12000
        elif qualification == 'Graduate':
            salary = 9000
    else:
        if qualification == 'Post - Graduate':
            salary = 10000
        elif qualification == 'Graduate':
            salary = 6000

print(f'The salary for a {gender} with {years_of_service} years of service and {qualification} qualification is {salary}.')

The salary for a Male with 12 years of service and Graduate qualification is 10000.

### Question 7

In [1]:
cost_price = float (input("Enter the cost price: "))
selling_price = float(input("Enter the cost price: "))

Enter the cost price: 5678.23
Enter the cost price: 7890.34

In [3]:
if selling_price>cost_price:
    print("Profit")
    profit = selling_price-cost_price
    print("The profit is: ", profit)
elif cost_price>selling:
    print("Loss")
    loss = cost_price-selling_price
    print("The loss is: ", loss)
else:
    print("Neither profit nor loss.")

Profit
The profit is:  2212.1100000000006

### Question 8

In [8]:
user_input = int(input("Enter the number: "))

Enter the number: 56

In [9]:
if user_input%2==0:
    print("The number is even")
elif user_input%2==1:
    print("The number is odd")
else:
    print("Invalid input")

The number is even

### Question 9

In [29]:
number_five = (input("Enter the 5 digit number: "))

Enter the 5 digit number: 12345

In [31]:
reversed_number = str(number_five[::-1])
print("The reversed number is: ", reversed_number)

The reversed number is:  54321

In [32]:
if number_five>reversed_number:
    print("The actual number is greater.")
elif reversed_number>number_five:
    print("The reversed number is greater.")
else:
    print("The number is a Pallindrome")

The reversed number is greater.

### Question 10

In [42]:
ram = int(input("Enter the age of Ram: "))
shaym = int(input("Enter the age of Shaym: "))
ajay = int(input("Enter the age of Ajay: "))

Enter the age of Ram: 12
Enter the age of Shaym: 10
Enter the age of Ajay: 15

In [43]:
if ram<shaym and shaym<ajay:
    print("Ram is the youngest")
elif ram>shaym and shaym>ajay:
    print("Ajay is the youngest")
else:
    print("Shaym is the youngest")

Shaym is the youngest

### Question 11

In [56]:
angle1 = float(input("Enter the 1st angle of the triangle in degrees: "))
angle2 = float(input("Enter the 2nd angle of the triangle in degrees: "))
angle3 = float(input("Enter the 3rd angle of the triangle in degrees: "))

Enter the 1st angle of the triangle in degrees: 67
Enter the 2nd angle of the triangle in degrees: 56
Enter the 3rd angle of the triangle in degrees: 45

In [57]:
total_angle = (angle1+angle2+angle3)
if angle1 !=0 and angle2 !=0 and angle3!=0 and total_angle == 180:
    print("The triangle is valid.")
else:
    print("The triangle is not valid.")

The triangle is not valid.

### Question 12

In [60]:
original_number = float(input("Enter the number: "))

Enter the number: -67.89

In [61]:
if original_number<0:
    absolute_value = original_number*(-1)
    print ("The absolute value is: ", absolute_value)
else:
    absolute_value = original_number
    print("The bsolute value is: ", absolute_value)

The absolute value is:  67.89

### Question 13

In [66]:
length = float(input("Enter the length: "))
breadth = float(input("Enter the breadth: "))

Enter the length: 12
Enter the breadth: 14

In [67]:
area = length*breadth
perimeter = 2*(length+breadth)
if area>perimeter:
    print (f"The area is {area}, the permiter is {perimeter} and the area is greater than the perimeter.")
elif area<perimeter:
    print (f"The area is {area}, the permiter is {perimeter} and the area is lesser than the perimeter.")
else:
    print("Both are equal")

The area is 168.0, the permiter is 52.0 and the area is greater than the perimeter.

### Question 14

In [81]:
year = int(input("Enter the year to check: "))

Enter the year to check: 2021

In [82]:
if (year%4==0) or (year%100==0 and year%400==0):
    print("The entered year is a leap year")
else:
    print("The entered year is not a leap year")

The entered year is not a leap year

### Question 15

In [86]:
hardness = float(input("Hardness: "))
carbon = float(input("Carbon: "))
tensile = float(input("Tensile Strength: "))

Hardness: 48
Carbon: 0.6
Tensile Strength: 5800

In [87]:
if hardness>50 and carbon<0.7 and tensile>5600:
    print ("Grade 10")
elif hardness>50 and carbon<0.7 and tensile<=5600:
    print("Grade 9")
elif hardness<=50 and carbon<0.7 and tensile>5600:
    print("Grade 8")
elif hardness>50 and carbon>=0.7 and tensile>5600:
    print("Grade 7")
elif hardness>50 and carbon>=0.7 and tensile<=5600:
    print("Grade 6")
else:
    print("Grade 5")

Grade 8

### Question 16

In [92]:
days = int(input("Number of days: "))

Number of days: 13

In [93]:
if days <=5:
    fine = days*0.5
    print("The fine is: Rs ", fine)
elif days>5 and days<=10:
    fine = 5*0.5+(days-5)*1
    print("The fine is: Rs ", fine)
elif days>10 and days<=30:
    fine = 5*0.5 + 5*1+(days-10)*5
    print("The fine is: Rs ", fine)
elif days>30:
    print("Sorry! Your membership has been cancelled")
else:
    print("Good Job. You are on time")

The fine is: Rs  22.5

### Question 17

In [102]:
time_taken = float(input("Enter the time taken in hours: "))

Enter the time taken in hours: 2.5

In [103]:
if time_taken>=2 and time_taken<3:
    print("Highly efficient")
elif time_taken>=3 and time_taken<4:
    print("Please improve your speed.")
elif time_taken>=4 and time_taken<5:
    print("Required training")
elif time_taken>5:
    print("Sorry! You have to leave the company")

Highly efficient

## Task -III

### Question 1

In [8]:
number = int(input("Enter the number:"))

Enter the number:21

In [10]:
i=2
for i in range (1, number+1):
    if number%i==0:
        print(i)

1
3
7
21

### Question 2

In [70]:
num = int(input("Enter the number:"))

Enter the number:17

In [71]:
# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

17 is a prime number

### Question 3

In [39]:
input_amstrong = int(input("Enter the number to check: "))

Enter the number to check: 153

In [73]:
sum = 0
temp =input_amstrong
while temp>0:
    digit = temp%10
    sum = sum+digit**3
    temp//=10
if input_amstrong == sum:
    print("The number is an amstrong number")
else:
    print("The number is not an amstrong number")

The number is an amstrong number

### Question 4

In [84]:
for i in range (100,999):
    sum =0
    original = i
    while i >=100 and i<999:
        digit = i%10
        sum = sum+digit**3
        i//=10
    if sum ==original:
        print(original)
    else:
        pass

125
216
729

### Question 5

In [49]:
number_range = int(input("Enter the range: "))

Enter the range: 20

In [53]:
i=3
print("Even Numbers are: ")
for i in range (3, (number_range+1)):
    if i%2==0:
        print(i)
print("Odd numbers are:")
for i in range (3, (number_range+1)):
    if i%2!=0:
        print(i)

Even Numbers are:
4
6
8
10
12
14
16
18
20
Odd numbers are:
3
5
7
9
11
13
15
17
19

### Question 6

In [85]:
n = int(input("Enter the number: "))

Enter the number: 123

In [91]:
reverse = 0
while n>0:
    digit = n%10
    reverse = reverse*10+digit
    n//=10
print("The reverse number is: ", reverse)

The reverse number is:  321

### Question 7

In [116]:
n = int(input("Enter a number: "))

Enter a number: 7

In [117]:
binary = 0
digit = 1
while n>0:
    remainder = n%2
    binary = binary + remainder*digit
    n//=2
    digit = digit*10
print("The binary number is: ", binary)

The binary number is:  111

### Question 8

In [131]:
binary = int(input("Enter the binary number: "))

Enter the binary number: 1010

In [132]:
decimal =0
power = 0
while binary>0:
    digit = binary%10
    decimal = decimal + digit*(2**power)
    binary//=10
    power = power+1
print("decimal number is: ", decimal)

decimal number is:  10

### Question 9

In [146]:
fact = int(input("Enter the number: "))

Enter the number: 5

In [152]:
if fact<0:
    print("The number is negative. Please enter a positive interger to check")
factorial = 1
for i in range (1, fact+1):
    factorial = factorial *i
print(f"The factorial is: ", factorial)

The factorial is:  120

### Question 10

In [153]:
n = int(input("Enter the sequence: "))
num1 = 0
num2 = 1
next_number = num2  
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

Enter the sequence: 10
1 2 3 5 8 13 21 34 55 89

### Question 11

In [173]:
perfect = int(input("Enter the number: "))

Enter the number: 28

In [174]:
sum = 0
for i in range (1,perfect):
    if perfect%i ==0:
        sum = sum + i
if sum == perfect:
    print("The number is a perfect number")
else:
    print("The number is not a perfect number.")

The number is a perfect number

### Question 12

In [187]:
for num in range(1, 1000):
    sum_of_divisors = 0
    for i in range(1, num):
        if num % i == 0:
            sum_of_divisors += i
    if sum_of_divisors == num:
        print(num)

6
28
496

### Question 13

In [188]:
num=int(input("Enter a number:"))

Enter a number:145

In [189]:
sum=0    
temp=num  

while(num):  
    
    i=1  
     
    fact=1  
    rem=num%10  
    while(i<=rem):  
        fact=fact*i     
        i=i+1  
    sum=sum+fact  
    num=num//10  
if(sum==temp):  
    print("Given number is a strong number")  
else:  
    print("Given number is not a strong number")

Given number is a strong number

### Question 14

In [190]:
number1 = int(input("Enter 1st number: "))
number2 = int(input("Enter the 2nd number: "))

Enter 1st number: 3
Enter the 2nd number: 2

In [192]:
result1 = number1**number2
result2 = number2**number1
print("Result 1: ", result1)
print("Result 2: ", result2)

Result 1:  9
Result 2:  8